.container{
	max-width: 100%;
	height:auto;
	left: 0%;
	top: 0%;
	z-index: 3;
	position: relative;
	background-color: white;
	transition: all 0.6s ease-in;
	box-shadow: 0 2rem 5rem rgba(0,0,0,.175)!important;
}


.image-of-project{
	background-color: black;
	height: 300px;

}

.image-of-project >img {	
	width: 600px;
	height: 300px;
	opacity: 0.5;
}

.project-title{
	position: absolute;
	top:40%;
	left: 10%;
}

.project-title > h1{
	color: white;
	letter-spacing: 3px;
	
}

.tags-tech{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding:10px;

}
.tags-tech > strong{
	padding:5px 10px;
	font-size: 10px;
	letter-spacing: 2px;
	color: white;
	border-radius: 2px;
	background-color: rgb(18, 112, 141);
	margin: 10px;
}


.detail-btn{
	position: absolute;
	top: 0%;
	left: 0%;
	bottom: 0%;
	margin: 10px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	transition: all 1s ease;
}
.detail-btn > p{
	font-size: 14px;
	text-align: center;
	padding: 30px;
	line-height: 18px;
}

.detail-btn > div{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.detail-btn>div>button{
	padding: 10px;
	margin: 7px;
	border-radius: 3px;
	background-color: whitesmoke;
	box-shadow: rgb(6, 27, 51) -10px 12px 17px -10px; 
	color: rgb(0, 0, 0);
	border: none;
}

.url-btn{
	position:absolute;
	color:black;
	left: 30%;
}

.url-btn > div > a >button{
	margin:10px;
	padding:7px;
	border: none;
	color: white;
	border-radius: 3px;
	background:rgb(13, 148, 158);
	cursor: pointer;
	letter-spacing:2px;
}

/* animation */

.container:hover{
	transform: scale(0.5);
	/* transform: translateY(40%); */
	opacity: 0;
}



